<div class="header">
  <h1>Player: <%= current_player %></h1>
  <%= link_to "New Game", '#' %> | 
  <%= link_to "Quit", root_url %>
</div>

<div class="play"> 
  <div class="gallows">
    <%= image_tag "hangman_#{bad_guess_count}.png" %>
  </div>

  <div class="word">
    <div class="board">
      <%= word_board(@current_game.word, good_guesses) %>
    </div>
    <div class="hint">
      Category: <%= @current_category %>
    </div>
  </div>
</div>

<div class="guess">
  <%= form_tag game_guesses_url(@current_game) do %>
    <%= text_field_tag :guess %>
    <%= submit_tag "Guess!" %>
  <% end %>
</div>

<div class="guesses">
  <%= guesses(all_guesses) %>
</div>